<form (submit)="submit($event)">
  <app-activity-type-select
    [value]="model().activityType"
    (valueChange)="selectActivityType($event)"
  />
  @if (model().activityType === 'hiking') {
    <input
      [formField]="hikeForm.name"
      [placeholder]="'hikeForm.name' | transloco"
      list="hike-names"
    />
    <datalist id="hike-names">
      @for (name of sortedNames(); track name) {
        <option [value]="name"></option>
      }
    </datalist>
  }
  <input [formField]="hikeForm.date" type="date" />
  @if (showsDistanceField()) {
    <input
      [formField]="hikeForm.metres"
      type="number"
      [placeholder]="'hikeForm.metres' | transloco"
    />
  }
  <input
    [formField]="hikeForm.minutes"
    type="number"
    [placeholder]="'hikeForm.minutes' | transloco"
  />
  <app-people-select
    [ownerName]="ownerName()"
    [suggestions]="peopleSuggestions()"
    [selectedPeople]="model().people"
    (selectionChange)="setPeople($event)"
  />
  @if (!model().people.length) {
    <p>{{ 'hikeForm.personRequired' | transloco }}</p>
  }
  <div class="actions">
    <button type="button" (click)="cancelled.emit()">{{ 'common.cancel' | transloco }}</button
    ><button type="submit" [disabled]="!model().people.length || submitting()">
      {{ buttonText() }}
    </button>
  </div>
</form>
